.html{
  max-width: 100%;
}

.App {
  text-align: center;
}
body{
  background-color: whitesmoke;
}

Card{
  border: 4mm ridge rgba(211, 220, 50, .6);
}

.breadcrumb{
  padding-right: 20px;
}

.card{
  background: #222;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
  0 5px 15px 0 rgba(37, 44, 97, 0.15);
  margin-bottom: 2rem;
  z-index: 1;
  transition: 0.7s;
}

.card:hover {
  transform: scale(1.1);
  z-index: 9;
  box-shadow: 0 2px 4px 0 darkred,
  0 5px 15px 0 darkred;

}

.cost {
  font-size: 28px;

}

.textStyle{
  color: whitesmoke;
}

.Text{
  color: whitesmoke;
  text-align: center;

}

.card-body{
  background: #222;
}

.cardButton {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px 20px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #222;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;

}

.cardButton:hover {
  background: red;
  box-shadow: 0 15px 20px darkred;
  color: whitesmoke;
  transform: translateY(-5px);
}

.Br_Link{
  text-decoration: none;
  color: #222222;
  font-size: 20px;
}

.Br_p{
  font-size: 20px;
  color: #222222;
}

.BR{
  text-align: left;
  padding-left: 30px;
}

.container {
  max-width: 50%;
}

.card-img-top cardImage{
  width: 293px;
  height: 293px;
}

.minCost{
  display: inline-block;
}

.maxCost{
  display: inline-block;
}

.inputCost{
  margin-bottom: 10px;
}

.inputForm{
  margin-bottom: 50px;
}


/*Navbar.js*/


#header {
  position: fixed;
  display: flex;
  width: 220px;
  height: 100%;
}

.Avatar{
  display: flex;
}

.Avatar p{
  color: whitesmoke;
  margin-top: 6px;
  margin-left: 50px;
}

.MuiAvatar-root.MuiAvatar-circular.MuiAvatar-colorDefault.css-2s90m6-MuiAvatar-root{
  margin-left: 20px;
  margin-bottom: 2px;
}

.logotext p {
  font-size: 20px;
  color: darkred;
  background-color: #222222;
}

.Menu{
  background-color: #222222;
}

.ps-sidebar-root.ps-collapsed.css-1k88rtw{
  height: 100%;
  background-color: #222222;
}

.ps-sidebar-root.css-1k88rtw{
  height: 100%;
  background-color: #222222;
}

.ps-menu-label.css-12w9als{
  color: whitesmoke;
}


.ps-sidebar-container.css-dip3t8{
  background-color: #222222;
}


@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}

/*Catalog.js*/

.conteinerCatalog{
  width: 80%;
  padding-left: 270px;
}


.side-container{
  height: 300px;
  width: 200px;
  position: absolute;
  z-index: 1;
  left: 0;
  color: black;
  overflow-x: hidden;
  padding-top: 20px;
  display: block;
}

.data-container{
  width: 80%;
  position: absolute;
  padding-left: 160px;
}

/*product.js*/

.containerProduct{
  width: 80%;
  padding-left: 270px;
}

/*filtres.js*/

.filterContainer{
  position: absolute;
  right: 0;
  width: 200px;
  height: 400px;
  float: right;
  margin-top: 70px;
  margin-right: 20px;
}

.filterCat{
  width: 200px;
  margin-right: 20px;
  position: relative;
}

/*shoplist.js*/
.shoplistProd{
  display: flex;
  border-style: solid;
  border-radius: 3px;
  margin-bottom: 20px;
  min-height: 240px;
  max-width: 50%;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
}

.imgShoplist{
  min-height: 240px;
  width: auto;
}
.descriptionShoplist{
  display: block;
}

.Suma{
  display: inline-block;
  border-style: solid;
  border-radius: 3px;
  width: 300px;
  height: auto;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  position: absolute;
  margin-left: 80px;
}
.Suma h4{
  left: 0;
}

.Suma p{
  text-align: left;
}


.containerShoplist{
  display: block;
  width: 90%;
  padding-left: 270px;
}

/*login.js*/

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 500px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    background: white;
  }
  .username{
    width: 300px;
    margin-left: 100px;
  }
  .password{
    width: 300px;
    margin-left: 100px;
  }
  .LoginButton{
    margin-top: 30px;
    width: 300px;
    margin-bottom: 20px;
  }
  .Login form h2{
    color: darkred;
    margin-top: 20px;
  }
}

@media all and (min-width: 480px) {
  .Register {
    padding: 60px 0;
  }

  .Register form {
    margin: 0 auto;
    max-width: 500px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    background: white;
  }
  .username{
    width: 300px;
    margin-left: 100px;
  }
  .password{
    width: 300px;
    margin-left: 100px;
  }
  .LoginButton{
    margin-top: 30px;
    width: 300px;
    margin-bottom: 20px;
  }
  .repassword{
    width: 300px;
    margin-left: 100px;
  }
  .Register form h2{
    color: darkred;
    margin-top: 20px;
  }
}

