.nav{
    background-color: #323333;
    height: 60px;
    overflow: hidden;
}
.apteka{
    padding-left: 50px;

}


a{
    text-decoration: none;
    font-size: 25px;
}


.NavLink{
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
    display: block;
    padding-top: 10px;
    padding-left: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    text-align: center;

}


h2{
    padding-top: 10px;
    color: firebrick;
    font-family: Roboto;

}

.LogoLink{
    text-decoration: none;
}